/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
} */

:root {
  --color-bg: #fff;
  --color-text: #000;
  --color-accent: #D128A1;
}

[data-theme="dark"] {
  --color-bg: #1e1e1e;
  --color-text: #ffffff;
  --color-accent: #FF80BF;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
label,
button,
input,
textarea,
span,
li,
td,
th {
  color: var(--color-text);
}
