.forwarding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  padding: 8px 0;
}

.label {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.switchWrapper {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

.switchInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;

  &::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
}

.switchInput:checked + .switchSlider {
  background-color: #d128a1;
}

.switchInput:checked + .switchSlider::before {
  transform: translateX(18px);
}
